*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contanier{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: red;
    font-size: 25px;
    padding: 10px;
    word-spacing: 5px;

}
.abc{
    margin: 45px;
}
select{
    width: 160px;
}
input{
    padding: 15px;
    font-size: 25px;
    border-radius: 5px;
    color: #db2020;
}
