*{
    margin: 0;
    padding: 0;
}
.container{
    /* margin-top: 15px; */
    width: 100%;
    height: 500px;
    background-color: antiquewhite;
    display: flex;
}
.chart, .billform{
    width: 50%;
    border: 1px solid black;
    font-size: 20px;
    padding: 5px;
}
h6,input,select{
    font-size: 20px;
    margin: 5px;
}
p{
    margin: 15px;
    
}